.sign-up-btn{
    background-color: black;
    color: white;
    
}
.login-btn{
    background-color: white;
    color: black;


}
body{
    background-color: rgb(25, 25, 25);
}


.sidebar{
    background-color: black;
}
#side-nav{
    background-color: black;
}
.content{
    min-height: 100vh;
    width: 170%;
}
.img-thumbnail{
    width: 150px;
    background-color: black;
    border-color: black;

    border-width: 0;
}


.list-group {
    color: white;
}
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 20px;
    
  }
  .imagetop{
   width: 180px;
    margin-top: 0;
    height: 50px;
    margin-left: 10px;
  }
  .imageside{
    width: 100%;
  }
  .text-white{
    cursor: pointer;
    
  }
  p :hover{
   color: white;

  }
  .playlist-list{
    padding-top: 20px;
  }